.text-muted-custom {
  color: var(--text-muted) !important;
}

.text-main {
  color: var(--text-main) !important;
}

.text-xs {
  font-size: 0.8rem;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}
