.text-primary-color {
  color: var(--primary-color) !important;
}

.text-muted-custom {
  color: var(--text-muted) !important;
}

.text-main {
  color: var(--text-main) !important;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.text-xs {
  font-size: 0.72rem;
}

tr.mat-mdc-header-row {
  height: 56px !important;
}

tr.mat-mdc-row {
  height: 64px !important;
}
