.text-primary-color {
  color: var(--primary-color) !important;
}

.text-muted-custom {
  color: var(--text-muted) !important;
}

.text-main {
  color: var(--text-main) !important;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.chart-wrapper {
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
