.btn-primary-custom {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: 1px solid var(--primary-color) !important;
}

.btn-filter {
  transition: all var(--transition-speed) ease;
  font-size: 0.9rem;
}

.text-primary-color {
  color: var(--primary-color) !important;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}
